<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div><span style="cursor: pointer;" routerLink="dashboard">UsersApp</span></div>
      <div>
        <span routerLink="dashboard">Dashboard</span>
        <span routerLink="users">Users</span>
        <span routerLink="reports">Reports</span>
      </div>
      <div>
        <span style="cursor: pointer;">
          <mat-icon aria-hidden="false"
                    aria-label="Logout icon"
                    fontIcon="logout"
                    matTooltip="Logout">
            logout
          </mat-icon>
        </span>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
