<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ user.firstName | uppercase }} - {{ user.user | lowercase }}</mat-card-title>
    <mat-card-subtitle>{{ user.lastName }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="user.backgroundImg | backgroundImage" alt="Profile image of {{ user.firstName }}">
  <mat-card-content>
    <p>
      {{ user.gender }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="backTo()">CANCEL</button>
  </mat-card-actions>
</mat-card>
